.asset-top-count
    width: ipx(737)
    height: ipx(210)
    background: url('images/asset_bg.png') 100% 100% no-repeat
    background-size: 100% 100%
    border-radius: ipx(20)

.asset-top-font
    color: asset_gray_font_color

.asset-detail-top-count
    width: ipx(690)
    height: ipx(233)
    background:rgba(255,255,255,1)
    box-shadow: 0px 6px 24px 0px rgba(199,212,207,0.2)
    border-radius: ipx(20)

.asset-invest-top-content
    width:ipx(700);
    height:ipx(150);
    background:rgba(255,255,255,1);

// .asset-qr-code
//     width: ipx(300);
//     height: ipx(300);
//     background:rgba(233,242,238,1);
//     border-radius:ipx(20);

.asset_btn
    width: ipx(185)
    height: ipx(56)
    background: primary_color
    font-size: ipx(26)
    border-radius: ipx(20)
    color: white_clolor

.asset_change_type_btn
    width: ipx(12)
    height ipx(28)

.asset_no_record
    width: ipx(291)
    height: ipx(310)

.asset-tab
    .am-tabs-default-bar-tab::after
            display: none

.font-gray-color
    color: asset_gray_font_color

.font-black-color
    color: asset_black_font_clolor

.asset-type-circle
    width: ipx(58);
    height: ipx(58);
    background:#9EDBC0;
    border-radius: 50%;

.asset-type-circle-40
    width: ipx(40);
    height: ipx(40);
    background:#9EDBC0;
    border-radius: 50%;

.asset-qr-code-btn
    width: ipx(310)
    height ipx(64)
    font-size: ipx(28)

.asset-modal-top-line
    width: ipx(750)
    height: ipx(1)
    background:rgba(223,234,228,1);

.asset-modal-acount-box
    width:ipx(690)
    height:ipx(130)
    background:rgba(245,250,249,1);
    border-radius:ipx(4)

.asset-cross-btn
    width: ipx(44)
    height ipx(25)

.asset_draw_approving
    color: #5DC7A5

.asset_draw_pending
    color: #5DC7A5

.asset_draw_finish
    color: asset_gray_font_color

.asset_draw_refuse
    color: #FFAC59

.ml-23
    margin-left: ipx(23)

.am-tabs-default-bar-tab
    height: ipx(80) !important

.am-tabs-default-bar-tab::after
    height: ipx(0) !important

.am-tabs-default-bar-top .am-tabs-default-bar-tab-active::after
    content: '' !important
    position: absolute !important
    background-color: rgba(36,185,137,1) !important
    display: block !important
    z-index: 1;
    right: 0 !important
    bottom: 0 !important
    left: 0 !important
    margin: auto
    width: ipx(196) !important
    height: ipx(6) !important
    transform-origin: 50% 100% !important
    transform: scaleY(0.5) !important

.am-tabs-default-bar-tab-active
    font-weight: bold

.am-tabs-default-bar-underline
    display: none !important
