.certification_box
    padding: 40px 120px
    .certification_wraper
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
.copyright_box
    padding: 40px 120px
    .copyright_wraper
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
.phone_box
    padding: 40px 120px
    .phone_wraper
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;

.upload-immage
    width: 180px;
    height: 230px;
    background: #FFFFFF;
    border: 1px solid #D9DFE9;
    border-radius: 6px;
.upload-card-button
    width: 330px;
    height: 186px;
    background: #FFFFFF;
    border: 1px solid #D9DFE9;
.enterprise-license
    height: 260px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 180px;
        height: 230px;
        border: 1px solid #D9DFE9;
        border-radius: 6px;
.legal-identity-cards
    height: 186px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 330px;
        height: 186px;
        border: 1px solid #D9DFE9;
.legal-identity-cards-temp
    width: 330px;
    height: 186px;
    background: #F9FBFD;
    border: 1px dashed #D9DFE9;
.certification-commit-button
    width: 202px;
    height: 42px;
    border: none !important
    background: #0665CE !important;
    border-radius: 6px !important;
    font-size: 20px !important;
    color: #FFFFFF !important;
.change_phone
    padding: 58px 58px 0 0
.change_phone_button
    width: 202px;
    height: 42px;
    background: #0665CE;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    float: right
    cursor pointer
.change_phone_button:hover
    opacity 0.8

.works_item_box
    width: 288px;
    height: 435px;
    border-radius: 24px;
    padding: 15px
.works_item_box:hover
    background: #F2F8FF;
.works_item_image
    width: 258px;
    height: 320px;
    background: #FFFFFF;
    border: 1px solid #D8DDE2;
    border-radius: 24px;
    img 
        width: 258px;
        height: 320px;
        border-radius: 24px;
.has_certification
    padding: 20px 0 0 38px
    .has_certification_img
        width: 180px;
        height: 230px;
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 6px;
.certification_succ
    padding: 20px 60px 0 38px
    .certification_succ_top
        height: 110px;
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
    .certification_button
        width: 202px;
        height: 42px;
        background: #0665CE;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 20px;
    .certification_back_button
        width: 202px;
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #0665CE;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 400;
        color: #0665CE;
        line-height: 20px;







