color-main = #282D50;
font-main = #0665CE;
color-secondry = #667791;
color-lable = #7D8EA8;

.color-main
    color color-main

.font-main
    color: font-main

.color-secondry
    color: color-secondry

.color-lable
    color: color-lable

.color-white
    color: #ffffff