.flex-between 
    display: flex;
    justify-content: space-between;

.flex-start
    display: flex !important
    justify-content: flex-start
    align-items: center

.flex-start-center
    display: flex
    justify-content: flex-start

.flex-between-center
    display: flex;
    justify-content: space-between;
    align-items: center;

.flex-center-center
    display flex
    justify-content: center
    align-items: center

.flex-around-center
    display: flex
    justify-content: space-around
    align-items: center

.flex-between-start
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

.flex-between-end
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

.flex-align-center 
    display: flex;
    align-items: center;

.flex-center 
    display: flex;
    justify-content: center;
    align-items: center;

.flex-center-end
    display: flex
    justify-content: center
    align-items: flex-end

.flex-end
    display: flex
    justify-content: flex-end
    align-items: center
.flex-end-baseline
    display: flex
    justify-content: flex-end
    align-items: baseline

.flex-column-between
    display: flex
    flex-direction: column
    justify-content: space-between

.flex-column-around
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

.flex-column-around-center
    display: flex
    flex-direction: column
    justify-content: space-around

.flex-column-start
    display: flex
    flex-direction: column
    justify-content: flex-start

.flex-column-center-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.flex-column-center
    display: flex
    flex-direction: column
    justify-content: center

.flex-column-end
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end

.flex-start-end
    display flex
    justify-content: flex-start
    align-items: flex-end
.flex-1
    flex: 1

.flex-wrap
    flex-wrap: wrap

.text-center
    text-align: center;

.text-left 
    text-align: left;

.text-right 
    text-align: right;

.text-wrap
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;

.font-weight
    font-weight: bold

.font-weight-bold
    font-weight: bold

.curser-pointer
    cursor: pointer

create-margin(length)
    .ml-{length}
        margin-left ipx(length)
    .mr-{length}
        margin-right ipx(length)
    .mt-{length}
        margin-top ipx(length)
    .mb-{length}
        margin-bottom ipx(length)
    .m-x-{length}
        margin-left ipx(length)
        margin-right ipx(length)
    .m-y-{length}
        margin-top ipx(length)
        margin-bottom ipx(length)
    .margin-{length}
        margin ipx(length)

create-padding(length)
    .pl-{length}
        padding-left ipx(length)
    .pr-{length}
        padding-right ipx(length)
    .pt-{length}
        padding-top ipx(length)
    .pb-{length}
        padding-bottom ipx(length)
        
    .p-x-{length}
        padding-left ipx(length)
        padding-right ipx(length)
    .p-y-{length}
        padding-top ipx(length)
        padding-bottom ipx(length)
    .padding-{length}
        padding ipx(length)

create-font-size(size)
    .ft-size-{size}
        font-size ipx(size)

create-classes()
    for $i in range(1, 120, 1)
        create-margin($i)
        create-padding($i)
    for $i in range(5, 100, 5)
        create-margin($i)
        create-padding($i)
    for $i in range(10, 50, 1)
        create-font-size($i)

create-classes()

.ant-upload-list-picture-card .ant-upload-list-item
    width: 180px;
    height: 230px;
    border: 1px solid #D9DFE9;
    border-radius: 6px;

.display-none
    display: none
.display-block
    display: block
.text-overflow
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
.home_header_search_input
    width:317px;
    height:30px;
    background:rgba(255,255,255,1);
    opacity:0.8;
    border-radius:15px;
.home_search_input
    border: none 
    outline: none
    width: 260px
.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child
    border-radius: 6px !important;
.ant-radio-button-wrapper
    margin-right: 30px !important
    border-radius: 6px;
    border-left: 1px solid #d9d9d9 !important
.ant-radio-button-wrapper:not(:first-child)::before
    width: 0px !important
.ant-radio-button-wrapper:last-child
    border-radius: 6px !important;
.ant-radio-button-wrapper:first-child
    border-radius: 6px !important;
.ant-upload-list-picture-card-container
    width: 180px !important
    height 230px !important
.ant-upload-list-picture-card .ant-upload-list-item
    margin: 0 !important
.ant-upload.ant-upload-select-picture-card > .ant-upload
    padding: 0 !important

.h5_compony_mmodal.ant-modal
    width: ivw(590) !important;
    background: #FFFFFF;
    border-radius: ivw(24)
    padding-bottom: 0px
    .ant-modal-content
        width: ivw(590) !important;
        background: #FFFFFF;
        border-radius: ivw(24)
    .ant-modal-header
        display: none
    .ant-modal-footer
        display: none
.h5_phone_mmodal.ant-modal
    width: ivw(590) !important;
    background: #FFFFFF;
    border-radius: ivw(24)
    padding-bottom: 0px
    .ant-modal-content
        // width: ivw(590) !important;
        // background: #FFFFFF;
        border-radius: ivw(24)
    .ant-modal-header
        display: none
    .ant-modal-footer
        display: none
.description_mmodal.ant-modal
    width: 610px !important;
    height: 550px;
    background: #FFFFFF;
    border-radius: 24px;
    padding-bottom: 0px
    .ant-modal-content
        background: #FFFFFF;
        width: 610px !important;
        border-radius: 24px
    .ant-modal-body
        padding: 40px 60px !important
    .description_modal_name
        font-size: 20px;
        font-weight: bold;
        color: #282E50;
        line-height: 24px;
        margin-bottom: 20px
        margin-top: 20px
    .description_modal_desc
        font-size: 16px;
        font-weight: bold;
        color: #6E80A2;
        line-height: 24px;
        margin-bottom: 30px
    .description_modal_list
        font-size: 16px;
        font-weight: 400;
        color: #6E80A2;
        line-height: 30px;
    .ant-modal-header
        display: none
    .ant-modal-footer
        display: none
.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav
    margin: 0 0 30px 0 !important

* { touch-action: pan-y; } 

.h5_phone_mmodal
    .input-container
        width: ivw(510);
        height: ivw(72)
        background: #FFFFFF;
        border: ivw(1) solid #D9DFE9;
        border-radius: ivw(10)
    .input-wrapper
        height: ivw(70)
        border-radius: ivw(10)
        input 
            border: none 
            outline: none
            height ivw(68)
            width: ivw(300)
            border-radius: ivw(10)
    .input-line
        display: none
    .phone_modal_lable
        font-size: ivw(28)
        font-weight: 400;
        color: #667892;
        margin-bottom: ivw(20)
        margin-top: ivw(50)
    .phone_modal_title
        font-size: ivw(28)
        font-weight: bold;
        color: #282E50;
    .phone_modal_button
        width: ivw(510)
        height: ivw(72)
        background: #0666CE;
        border-radius: 10px;
        margin-top: ivw(60)
    .input-after-code
        width: ivw(208)
        height: ivw(68)
        line-height: ivw(68)
        background: #FFFFFF;
        border: ivw(1) solid #D9DFE9;
        border-radius: 0px ivw(10) ivw(10) 0px;
        font-size: ivw(26)
        font-weight: 400;
        color: #0766CE;
        opacity: 0.59;
        padding: 0 ivw(30)
        border-top: none 
        border-bottom: none
    .input-after-second
        width: ivw(208)
        height: ivw(68)
        line-height: ivw(68)
        background: #FFFFFF;
        border: ivw(1) solid #D9DFE9;
        border-radius: 0px ivw(10) ivw(10) 0px;
        font-size: ivw(26)
        font-weight: 400;
        color: #C4CDDC;
        opacity: 0.59;
        padding: 0 
        border-top: none 
        border-bottom: none
.phone_mmodal
    width: 610px !important;
    height: 460px;
    background: #FFFFFF;
    border-radius: 24px;
    padding-bottom: 0px
    .ant-modal-content
        background: #FFFFFF;
        width: 610px !important;
        height: 460px;
        border-radius: 24px
    .ant-modal-body
        padding: 60px 40px !important
    .ant-modal-header
        display: none
    .ant-modal-footer
        display: none
    .phone_modal_title
        font-size: 20px;
        font-weight: bold;
        color: #282E50;
        line-height: 24px;
    .phone_modal_lable
        font-size: 18px;
        font-weight: 400;
        color: #667892;
        line-height: 11px;
        margin-bottom: 13px
        margin-top: 40px
    .input-line
        display: none
    .input-container
        width: 530px;
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 6px;
    .input-wrapper
        height: 40px;
        input 
            border: none 
            outline: none
            height: 40px;
            width: 390px
            border-radius: 6px;
    .input-after-code
        width: 139px;
        height: 40px;
        line-height: 40px
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        padding: 0 30px
        border-top: none 
        border-bottom: none
    .phone_modal_button
        width: 250px;
        height: 42px;
        border-radius: 6px;
        margin-top: 60px
.phone_mmodal 
    .input-after-second
        width: 139px;
        height: 40px;
        line-height: 40px
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        border-top: none 
        border-bottom: none
        padding: 0 20px
.ant-message
    z-index: 10004 !important





