.input
    &-container
        width: 450px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 6px;
    &-wrapper
        height: 44px
        input 
            border: none 
            outline: none
            height 24px
            width: 270px
    &-line
        width: 1px;
        height: 18px;
        background: #D9DFE9;
        margin: 12px 10px 12px 0
    &-after-code
        height 46px
        line-height: 46px
        border-left: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        padding: 0 25px
        color: #0665CE;
        cursor pointer
    &-after-second
        height 46px
        line-height: 46px
        border-left: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        padding: 0 25px
        color: #C4CDDC;
        cursor pointer
    

.i-btn
    cursor pointer
    text-align center
    height 45px
    line-height: @height;
    font-size 20px
    color white
    background:rgba(1,87,183,1);
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.loading 
        opacity .6
    &:active 
        opacity .7


.confirm-modal 
    &.am-modal-transparent 
        width: ipx(600)
    .am-modal-body
        height: auto;
        border-radius ipx(20);
.picker 
    .am-modal-content
        border-radius ipx(20) ipx(20) 0 0 
    &-item 
        height ipx(100)
        line-height @height
        font-size ipx(32)
        color color-main
        text-align: center
    &-cancel 
        @extends .picker-item
        color color-label
        border-top 1px solid color-border;
        &:active, ../-item:active 
            background: color-background

.modal 
    .am-modal-content
        border-radius ipx(20) ipx(20) 0 0 
    &-top 
        display flex
        align-items: center;
        height: ipx(80);
        border-bottom: 1px solid #DFEAE4;
    &-cancel 
        flex: 1;
        color: color-label;
        font-size: ipx(30);
        padding-left: ipx(30);
        text-align: left;
    &-title 
        flex: 1;
        color: color-main;
        text-align: center;
        font-size: ipx(30);
    &-right 
        flex: 1;
    
