.input
    &-container
        width: 450px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #D9DFE9;
        border-radius: 6px;
    &-wrapper
        height: 44px
        input 
            border: none 
            outline: none
            height 24px
            width: 270px
    &-line
        width: 1px;
        height: 18px;
        background: #D9DFE9;
        margin: 12px 10px 12px 0
    &-after-code
        height 46px
        line-height: 46px
        border-left: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        padding: 0 25px
        color: #0665CE;
        cursor pointer
        border-top: none 
        border-bottom: none
    &-after-second
        height 46px
        line-height: 46px
        border-left: 1px solid #D9DFE9;
        border-radius: 0px 6px 6px 0px;
        padding: 0 10px
        color: #C4CDDC;
        cursor pointer
        border-top: none 
        border-bottom: none
    &-error
        font-size: 14px;
        font-weight: 400;
        color: #F87135;
        line-height: 11px;


.h5_login_form
    .input
        &-container
            width: ivw(590);
            height: ivw(72);
            background: #FFFFFF;
            border: ivw(1) solid #D9DFE9;
            border-radius: ivw(10);
        &-wrapper
            height: ivw(70)
            input 
                border: none 
                outline: none
                height ivw(60)
                width: ivw(270)
                font-size: ivw(28)
            img 
                height ivw(30)
                width: ivw(30)
        &-line
            width: ivw(1);
            height: ivw(18);
            background: #D9DFE9;
            margin: ivw(10) ivw(12) ivw(12) 0
        &-after-code
            height ivw(72)
            line-height: ivw(72)
            border-left: ivw(1) solid #D9DFE9;
            border-radius: 0px ivw(6) ivw(6) 0px;
            padding: 0 ivw(25)
            color: #0665CE;
            cursor pointer
        &-after-second
            height ivw(72)
            line-height: ivw(72)
            border-left: ivw(1) solid #D9DFE9;
            border-radius: 0px ivw(6) ivw(6) 0px;
            padding: 0 ivw(10)
            color: #C4CDDC;
            cursor pointer
            

.i-btn
    cursor pointer
    text-align center
    height 45px
    line-height: @height;
    font-size 20px
    color white
    background:rgba(1,87,183,1);
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.loading 
        opacity .6
    &:active 
        opacity .7
.i-btn.plain
    background: rgba(255, 255, 255, 0);
    border: 1px solid #0666CE;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    color: #0666CE;
    


.confirm-modal 
    &.am-modal-transparent 
        width: ipx(600)
    .am-modal-body
        height: auto;
        border-radius ipx(20);
.picker 
    .am-modal-content
        border-radius ipx(20) ipx(20) 0 0 
    &-item 
        height ipx(100)
        line-height @height
        font-size ipx(32)
        color color-main
        text-align: center
    &-cancel 
        @extends .picker-item
        color color-label
        border-top 1px solid color-border;
        &:active, ../-item:active 
            background: color-background

.modal 
    .am-modal-content
        border-radius ipx(20) ipx(20) 0 0 
    &-top 
        display flex
        align-items: center;
        height: ipx(80);
        border-bottom: 1px solid #DFEAE4;
    &-cancel 
        flex: 1;
        color: color-label;
        font-size: ipx(30);
        padding-left: ipx(30);
        text-align: left;
    &-title 
        flex: 1;
        color: color-main;
        text-align: center;
        font-size: ipx(30);
    &-right 
        flex: 1;
    
