// .home-banner
//     width: 100%
//     height ipx(450)
//     position relative
//     background: url('images/home_bg.jpg') 100% 100% no-repeat
//     background-size: 100% 100%

// .home-logo-name
//     width: 506px
//     height 94px
//     position: absolute
//     top: 109px
//     left 50%
//     margin-left: -253px
// .home-search
//     position: absolute
//     top: 243px
//     left 50%
//     margin-left: -214px
//     width:428px;
//     height:62px;
//     background:rgba(255,255,255,1);
//     border-radius:30px 31px 31px 31px;

// .home-search-icon
//     position: absolute
//     width: 20px
//     height 22px
//     top: 20px
//     left 20px

// .home-search-input
//     position absolute
//     border: none
//     width: 250px
//     height 35px
//     top: 10px
//     left 50px

// .home-right-icon
//     position: absolute
//     width: 42px
//     height 42px
//     top: 10px
//     right: 20px


// .content-center-left
//     width:700px;
//     height:279px;
//     background:rgba(255,255,255,1);
//     box-shadow:0px 8px 21px 0px rgba(179,200,231,0.1);
//     border-radius:24px;
//     position: relative
//     top: -63px
//     img 
//         width: 559px
//         height 215px
//         position: absolute
//         top: 0
//         right 0
//         bottom: 0
//         left 0
//         margin: auto
//     .home-content-button
//         width:130px;
//         height:28px;
//         background:rgba(6,101,206,1);
//         border-radius:6px;
//         color: #ffffff
//         border: none
//         position: absolute
//         right 70px
//         bottom: 51px

// .content-center-font
//     width:329px;
//     height:98px;
//     font-size:14px;
//     font-weight:400;
//     color:rgba(18,37,65,1);
//     line-height:28px;
//     text-align: center

// .content-center-right-line
//     text-align: center
//     width:120px;
//     height:4px;
//     background:rgba(20,111,247,1);
//     border-radius:2px;

// .content-link
//     padding-bottom: 60px
//     img
//         width: 134px
//         height 134px
//     .home-link-font
//         width:70px;
//         height:18px;
//         font-size:17px;
//         font-weight:400;
//         color:rgba(102,119,145,1);
//         line-height:28px;

// .home-search-input {
//     outline: none
// }

.home_header
    height 484px
    background: url('images/home_bg.png') no-repeat
    background-size: 100% 100%
    .home_search_input
        border: none 
        outline: none
        width: 260px
    
    .home_header_search
        padding: 0 120px
        height:58px;
        background:#ACCFFA;
        opacity:0.3;
    .home_header_search_logo
        width:123px;
        height:30px;
        background:#99C8FF;
        border-radius:15px;
    .home_header_search_input
        width:317px;
        height:30px;
        background:rgba(255,255,255,1);
        opacity:0.8;
        border-radius:15px;
    .home_header_banner
        padding: 0 120px
    .home_header_banner_name 
        font-size:24px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:13px;
        .home_header_banner_name_title 
            margin-top: 38px
    .home_header_banner_user 
        width:312px;
        margin-top: 65px
        height:308px;
        background:rgba(255,255,255,1);
        box-shadow:0px 9px 20px 0px rgba(83,132,190,0.18);
        opacity:0.85;
        border-radius:24px;
        .home_header_banner_user_bg
            width: 312px
            height 190px
            background: url('images/home_user_bg.png') no-repeat
            background-size: 100% 100%
        .home_header_user_logout 
            font-size:16px;
            font-family:Source Han Sans CN;
            font-weight:400;
            color:rgba(102,119,145,1);
            padding: 20px 20px
        .home_header_certificationome_btn
            width:150px;
            height:36px;
            line-height: 36px
            text-align: center
            background:rgba(6,101,206,1);
            border-radius:6px;
            font-size:18px;
            font-family:Source Han Sans CN;
            font-weight:400;
            color:rgba(255,255,255,1);
            margin-top: 30px
        .home_header_user_cneter
            font-size:18px;
            font-family:Source Han Sans CN;
            font-weight:400;
            color:rgba(6,101,206,1);
            line-height: 36px
.home_certification
    padding: 80px 0
    width: 100%
    height:606px;
    background:rgba(245,248,251,1);
    overflow hidden
    .home_certification_title_name
        font-size:32px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        color:rgba(40,45,80,1);
        line-height:36px;
    .home_certification_title_desc
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(102,119,145,1);
        line-height:36px;
    .home_certification_line
        width:120px;
        height:3px;
        background:rgba(6,101,206,1);
        margin-top: 13px
    .home_certification_more_more_box
        padding: 0 120px
    .home_certification_more
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(6,101,206,1);
        line-height:36px;
    .home_certification_swiper
        padding: 0 120px
        overflow hidden
        .slide_banquan, .slide_shangbiao, .slide_jishu, .slide_yuanchandi, .slide_chuangtong
            .slide_item_normal
                width: 224px;
                height:315px;
                background:rgba(255,255,255,1);
                box-shadow:0px 10px 16px 2px rgba(203,212,221,0.16);
                border-radius:24px;
                .slide_item_normal_img
                    width: 80px
                    height 80px
                .slide_item_normal_title
                    font-size:20px;
                    font-family:Source Han Sans CN;
                    font-weight:bold;
                    color:rgba(40,45,80,1);
                    line-height:36px;
                .slide_item_normal_lable
                    padding: 0 30px
                    font-size:14px;
                    font-family:Source Han Sans CN;
                    font-weight:400;
                    color:rgba(102,119,145,1);
                    line-height:22px;
                    .slide_item_normal_lable_hover
                        display: none
                .slide_item_normal_line
                    width:224px;
                    height:1px;
                    background:rgba(228,236,249,1);
                .slide_item_normal_btn
                    text-align: center
                    width:120px;
                    height:28px;
                    background:rgba(6,101,206,1);
                    border:1px solid rgba(6,101,206,1);
                    border-radius:6px;
                    font-size:16px;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                    line-height:20px;
            .slide_item_big
                display: none
                width: 468px;
                height: 315px;
                background: #0665CE;
                box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
                border-radius: 24px;
                color: #ffffff
                position relative
                .slide_item_normal_img
                    padding: 15px 8px 15px 15px
                .slide_item_normal_title
                    font-size: 20px;
                    font-family: Source Han Sans CN;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 36px;
                .slide_item_normal_lable
                    font-size: 14px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 22px;
                    opacity: 0.7;
                    padding: 0 20px
                    .slide_item_normal_lable_before
                        display: none
                    .slide_item_normal_lable_hover
                        display: block
                .slide_item_normal_line
                    width: 100%;
                    height: 1px;
                    background: #E4ECF9;
                    opacity: 0.2;
                .slide_item_normal_btn
                    text-align: center
                    width:120px;
                    height:28px;
                    background: #0665CE;
                    border: 1px solid #FFFFFF;
                    border-radius:6px;
                    font-size:16px;
                    font-family:Source Han Sans CN;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                    line-height:20px;
                    position: absolute
                    left 50%
                    margin-left: -60px
        .slide_banquan:hover
            .slide_item_big
                display: block
            .slide_item_normal
                display: none
            + div
                display: none
        .slide_shangbiao:hover
            .slide_item_big
                display: block
            .slide_item_normal
                display: none
            + div
                display: none
        .slide_jishu:hover
            .slide_item_big
                display: block
            .slide_item_normal
                display: none
            + div
                display: none
        .slide_yuanchandi:hover
            .slide_item_big
                display: block
            .slide_item_normal
                display: none
            + div
                display: none
        .slide_chuangtong:hover
            .slide_item_big
                display: block
            .slide_item_normal
                display: none
            
        
.home_works
    padding: 80px 0
    width: 100%
    height:602px;
    overflow hidden
    background: #FFFFFF;
    .home_works_title_name
        font-size:32px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        color:rgba(40,45,80,1);
        line-height:36px;
    .home_works_title_desc
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(102,119,145,1);
        line-height:36px;
    .home_works_line
        width:120px;
        height:3px;
        background:rgba(6,101,206,1);
        margin-top: 13px
        margin-bottom: 20px
    .home_works_swiper
        .slick-slider
            padding: 0 120px
            left 0
            righ 0
            margin: auto
            .home_works_item
                width: 253px;
                height: 315px;
                background: #FFFFFF;
                border: 1px solid #D8DDE2;
                border-radius: 24px;

.home_process
    padding: 80px 120px
    height:482px;
    background: #2B63BD;
    .home_process_title_name
        font-size:32px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        color: #FFFFFF;
        line-height:36px;
    .home_process_title_desc
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color: #FFFFFF;
        line-height:36px;
    .home_process_line
        width:120px;
        height:3px;
        background: #FFFFFF;
        margin-top: 13px
        margin-bottom: 40px
    .home_process_step
        background: url('images/home_step_bg.png') no-repeat
        background-size: 100% 100%
        height 141px
    .home_step_title_box
        .home_process_title
            font-size: 20px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 36px;
            opacity: 0.7;

.home_advantage
    padding: 80px 120px
    background-image: url('images/home_advantage_bg.png')
    background-repeat: no-repeat
    height 556px
    background-color: #F5F8FB;
    position relative
    .home_advantage_title
        position absolute
        top: 80px
        left 120px
    .home_advantage_desc
        position: absolute
        left 120px
        bottom: 80px
    .home_advantage_line
        width: 120px;
        height: 3px;
        background: #0665CE;
        margin-top: 15px
    .home_advantage_box
        position absolute
        right: 120px
        top: 80px
    .home_advantage_box_item
        width: 696px;
        padding: 29px 0 29px 0
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
        .home_advantage_box_item_xueshu_after_img,.home_advantage_box_item_quanwei_after_img,.home_advantage_box_item_ziyuan_after_img
            display: none
    .home_advantage_box_item_xueshu_after,.home_advantage_box_item_ziyuan_after,.home_advantage_box_item_quanwei_after
        display: none
    .home_advantage_box_item_xueshu:hover
        background: #0665CE;
        padding: 30px 40px
        .home_advantage_box_item_xueshu_after
            display: block
        .home_advantage_box_item_xueshu_before_img
            display: none 
        .home_advantage_box_item_xueshu_after_img
            display: block
        .home_advantage_box_item_xueshu_title
            color: #ffffff
    .home_advantage_box_item_ziyuan:hover
        background: #0665CE;
        padding: 30px 40px
        .home_advantage_box_item_ziyuan_after
            display: block
        .home_advantage_box_item_ziyuan_before_img
            display: none 
        .home_advantage_box_item_ziyuan_after_img
            display: block
        .home_advantage_box_item_ziyuan_title
            color: #ffffff
    .home_advantage_box_item_quanwei:hover
        background: #0665CE;
        padding: 30px 40px
        .home_advantage_box_item_quanwei_after
            display: block
        .home_advantage_box_item_quanwei_before_img
            display: none 
        .home_advantage_box_item_quanwei_after_img
            display: block
        .home_advantage_box_item_quanwei_title
            color: #ffffff
    

.home_templete
    background-image: url('images/home_templete_bg.png')
    background-repeat: no-repeat
    height 556px
    background-color: #F5F8FB;
    background-position-x: 97%
    position relative
    padding: 0 120px
    .home_templete_box
        background-image: url('images/home_templete_templete.png')
        background-repeat: no-repeat
        width: 707px
        height 393px
        position: absolute
        top: 0
        bottom: 0
        margin: auto
    .home_templete_title
        position: absolute
        right: 90px
        top: 80px
    .home_templete_desc
        position: absolute
        right: 90px
        bottom: 80px
        .home_templete_line
            width: 120px;
            height: 3px;
            background: #0665CE;
            position: absolute
            right 0
            margin-top: 20px
.home_partner
    height: 753px;
    background: #2B63BD;
    padding: 80px 120px 50px 120px
    .home_partner_title
        font-size: 32px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 36px;
    .home_partner_lable
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 36px;
        opacity: 0.7;
    .home_partner_line
        width: 120px;
        height: 3px;
        background: #FFFFFF;
    // .home_partner_item
    //     width: 736px
    .home_partner_item_name
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 36px;
    .home_partner_item_logo
        width: 400px;
        height: 211px;
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
        padding: 56px 74px
    .home_partner_hengdao_logo
        width: 400px;
        height: 211px;
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
        padding: 32px 145px

.home_services
    height: 594px;
    background: #F5F8FB;
    padding: 80px 120px 60px 120px
    overflow hidden
    .home_services_title_name
        font-size:32px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        color:rgba(40,45,80,1);
        line-height:36px;
    .home_services_title_desc
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(102,119,145,1);
        line-height:36px;
    .home_services_line
        width:120px;
        height:3px;
        background:rgba(6,101,206,1);
        margin-top: 13px
        margin-bottom: 40px
    .slick-list
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
    .home_services_box
        position relative
        height: 184px;
    .home_services_item_left
        position absolute
        left 0
        bottom: 0
    .home_services_item_right
        position: absolute
        top: 0
        right 0
    .home_services_item
        text-align: center
        position absolute
        left 0
        right:  0
        bottom: 0
        top: 0
        margin: auto
        padding: 36px
    .home_service_item_icon
            width: 26px
            height 26px
        .home_service_item_title
            font-size: 16px;
            font-weight: bold;
            color: #282D50;
            line-height: 36px;
        .home_service_item_desc
            font-size: 14px;
            font-weight: 400;
            color: #667791;
            line-height: 22px;
            opacity: 0.7;
    .home_services_button
        width: 150px;
        height: 36px;
        background: #0665CE;
        border-radius: 6px;
        line-height: 36px
        text-align: center
        color: #ffffff
        font-size: 18px;
        margin-top: 80px
.home_footer
    padding: 50px 120px 30px
    height: 235px;
    background: #FFFFFF;
    .home_footer_desc
        margin-top: 70px
    .home_footer_desc_desc
        font-size: 16px;
        font-weight: 400;
        color: #667791;
        line-height: 36px;
            
.is-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}   


