.step-dotted-line
    width 88px
    height 8px
    &.step-line-1
        background: url('images/step_line_0.png')
    &.step-line-2
        background: url('images/step_line_1.png')
.label-gray
    font-size: 18px;
    font-weight: 400;
    color: #667791;
    line-height: 11px;

.step-one-tips
    font-size:16px;
    font-weight:400;
    color:rgba(125,142,168,1);
.step-one-upload
    width:296px;
    height:332px;
    background:rgba(249,251,253,1);
    border:1px solid rgba(217,223,233,1);
    .ant-upload.ant-upload-select-picture-card
        width: 296px
        height:332px;
    .ant-upload-picture-card-wrapper
        width: 296px
        height:302px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 296px
        height auto
        border: none
.step-two-top-box
    width:700px;
    height:184px;
    background: #FFFFFF;
    border: 1px solid #D9DFE9;
    .detecting-titl
        font-weight:400;
        color:rgba(125,142,168,1);
    .detecting-works
        font-size: 24px;
        font-weight:bold;
        color:rgba(125,142,168,1);
        .detected-works
            font-size: 26px;
            color: #0054D2
    .detection-result
        font-size: 20px
        font-weight:bold;
        color:rgba(20,173,150,1);
.step-three-id-card-1
    width:330px;
    height:186px;
    padding: 10px 50px;
    background:rgba(249,251,253,1);
    border:1px dashed rgba(217,223,233,1);
.step-four-top-box 
    width: 100px;
    height: 87px;
    background: #C8DDFD;
.step_four_box
    width: 700px;
    background: #F8FBFF;
    padding: 30px
    margin-bottom: 60px
.step-four-label
    font-weight:400;
    color:rgba(125,142,168,1);
.step-four-content
    font-weight:400;
    color:rgba(40,45,80,1);
.step-five-tips
    width:700px;
    height:60px;
    background:rgba(20,173,150,1);
    border:1px solid rgba(190,212,246,1);
    font-weight:bold;
    font-size:22px;
    color:rgba(255,255,255,1);
.step_six_box
    width: 700px;
    background: #F8FBFF;
    padding: 30px
.step_six_line
    width: 120px;
    height: 3px;
    background: #0665CE;
.step_six_service
    width: 1000px;
    height: 118px;
    background: #F8FBFF;
.step_six_desc
    width: 690px
.step-six-title
    width: 700px;
    height: 153px;
    background: #FFFFFF;
    border: 1px solid #D9DFE9;
    font-size: 24px;
    font-weight: bold;
    color: #282D50;
    margin-bottom: 29px
.blue-color-font
    color:rgba(0,84,210,1);
.step-upload-image
    width:330px;
    height:186px;
    background:rgba(249,251,253,1);
    border:1px solid rgba(217,223,233,1);
    .ant-form-item
        margin-bottom: 0
    .ant-upload.ant-upload-select-picture-card
        width: 330px
        height:186px;
    .ant-upload-picture-card-wrapper
        width: 330px
        height:186px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 330px
        height:186px;
        border: none
.upload-text
    font-size: 14px
    font-weight:400;
    color:rgba(125,142,168,1);
.ant-upload
    &.ant-upload-select-picture-card
        border: none !important;
.max-same
    width: 700px
    font-size:18px;
    font-weight:400;
    color:rgba(125,142,168,1);
.max-same-number
    font-size:28px;
    font-weight: bold;
    color:#0054D2;
.home_wraper
    padding: 54px 120px 40px 120px
.home_box
    background: #FFFFFF;
    box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
    border-radius: 24px;


