.step-dotted-line
    width: 70px;
    border-bottom: 3px dotted #CCD4DB;
    &.step-line-1
        border-bottom: 3px dotted rgba(119,181,228,1);
    &.step-line-2
        border-bottom: 3px dotted rgba(0,124,210,1);
.label-gray
    font-size:16px;
    font-weight:400;
    color:rgba(125,142,168,1);
.step-one-tips
    font-size:16px;
    font-weight:400;
    color:rgba(125,142,168,1);
.step-one-upload
    width:296px;
    height:332px;
    background:rgba(249,251,253,1);
    border:1px solid rgba(217,223,233,1);
    .ant-upload.ant-upload-select-picture-card
        width: 296px
        height:332px;
    .ant-upload-picture-card-wrapper
        width: 296px
        height:302px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 296px
        height auto
        border: none
.step-two-top-box
    width:700px;
    height:184px;
    background:rgba(249,251,253,1);
    border:1px solid rgba(190,212,246,1);
    .detecting-titl
        font-weight:400;
        color:rgba(125,142,168,1);
    .detecting-works
        font-size: 24px;
        font-weight:bold;
        color:rgba(125,142,168,1);
        .detected-works
            font-size: 26px;
            color: #0054D2
    .detection-result
        font-size: 20px
        font-weight:bold;
        color:rgba(20,173,150,1);
.step-three-id-card-1
    width:330px;
    height:186px;
    padding: 10px 50px;
    background:rgba(249,251,253,1);
    border:1px dashed rgba(217,223,233,1);
.step-four-top-box 
    width:700px;
    height:270px;
    background:rgba(200,221,253,1);
    font-size:30px;
    font-weight:bold;
    color:rgba(255,255,255,1);
.step-four-label
    font-weight:400;
    color:rgba(125,142,168,1);
.step-four-content
    font-weight:400;
    color:rgba(40,45,80,1);
.step-five-tips
    width:700px;
    height:60px;
    background:rgba(20,173,150,1);
    border:1px solid rgba(190,212,246,1);
    font-weight:bold;
    font-size:22px;
    color:rgba(255,255,255,1);
.step-six-title
    font-size:22px;
    font-weight:bold;
    color:rgba(125,142,168,1);
.blue-color-font
    color:rgba(0,84,210,1);
.step-upload-image
    width:330px;
    height:186px;
    background:rgba(249,251,253,1);
    border:1px solid rgba(217,223,233,1);
    .ant-form-item
        margin-bottom: 0
    .ant-upload.ant-upload-select-picture-card
        width: 330px
        height:186px;
    .ant-upload-picture-card-wrapper
        width: 330px
        height:186px;
    .ant-upload-list-picture-card .ant-upload-list-item
        width: 330px
        height:186px;
        border: none
.upload-text
    font-size: 14px
    font-weight:400;
    color:rgba(125,142,168,1);
.ant-upload
    &.ant-upload-select-picture-card
        border: none !important;
.max-same
    width: 700px
    font-size:18px;
    font-weight:400;
    color:rgba(125,142,168,1);
.max-same-number
    font-size:28px;
    font-weight: bold;
    color:#0054D2;

