.app 
    color red

@import './util';
@import './common';
@import './color';
@import './main';
@import './mine';
@import './home';
@import './dashboard';
@import './login';
@import './components';
@import './certification';
@import './list';
