.list_box
    padding: 20px 120px
    .list_wraper
        padding: 60px 40px
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
    .list_item_box
        width: 288px;
        height: 435px;
        border-radius: 24px;
        padding: 15px
    .list_item_box:hover
        background: #F2F8FF;
    .works_item_image
        width: 258px;
        height 320px;
        background: #FFFFFF;
        border: 1px solid #D8DDE2;
        border-radius: 24px;
        img 
            width: 100%;
.detail_box
    padding: 20px 120px
    .works_info_line
        width: 44px;
        height: 3px;
        background: #0665CE;
    .works_info_img
        width: 253px;
        height: 315px;
        background: #FFFFFF;
        border: 1px solid #D8DDE2;
        border-radius: 24px;
    .certification_info_img
        width: 280px
        height 394px
        img 
            width: 280px
            height 394px
.h5_home_works_list_box
    background: #F5F8FB;
.h5_detail_box
    padding: ivw(128) ivw(40) ivw(40) ivw(40)
    .works_info
        margin-bottom: ivw(50)
    .h5_detail_box_info
        font-size: ivw(28)
    .works_info_line
        width: ivw(67);
        height: ivw(5);
        background: #0665CE;
        margin-top: ivw(10)
        margin-bottom: ivw(30)
    .works_info_img
        width: ivw(305);
        height: ivw(378);
        background: #FFFFFF;
        border: ivw(1) solid #D8DDE2;
        border-radius: ivw(24);
        margin-bottom: ivw(40)
        margin-right: ivw(20)
    .h5_detail_box_lable
        font-size: ivw(26);
        font-weight: 400;
        line-height: ivw(60)
        color: #667892;
    .h5_detail_box_value
        max-width : ivw(440);
        font-size: ivw(26);
        font-weight: 400;
        color: #282E50;
        line-height: ivw(36);
    .certification_info_img
        width: ivw(352);
        height: ivw(496);
        margin-bottom: ivw(50)
        img 
            width: ivw(352);
            height: ivw(496);
.h5_slider_wraper
    width: 100%
    height ivw(400)
    overflow hidden
    .slid
        overflow hidden
.slider_wraper
    width: 100%
    height 350px
    overflow hidden
    .slid
        overflow hidden

.humberger_box
    padding-left: 120px
    padding-top: 20px
    font-size: 14px;
    font-weight: 400;
    color: #667892;
    line-height: 36px;
    .humberger_box_active
        color: #0666CE