.list_box
    padding: 40px 120px
    .list_wraper
        padding: 60px 40px
        background: #FFFFFF;
        box-shadow: 0px 10px 16px 2px rgba(203, 212, 221, 0.16);
        border-radius: 24px;
    .list_item_box
        width: 288px;
        height: 435px;
        border-radius: 24px;
        padding: 15px
    .list_item_box:hover
        background: #F2F8FF;
    .works_item_image
        width: 258px;
        height: 320px;
        background: #FFFFFF;
        border: 1px solid #D8DDE2;
        border-radius: 24px;
        img 
            width: 258px;
            height: 320px;
            border-radius: 24px;
.detail_box
    padding: 50px 120px
    .works_info_line
        width: 44px;
        height: 3px;
        background: #0665CE;
    .works_info_img
        width: 253px;
        height: 315px;
        background: #FFFFFF;
        border: 1px solid #D8DDE2;
        border-radius: 24px;
