.login-conent
    width: 1200px;
    height: 617px;
    background: #FFFFFF;
    border-radius: 24px;
    .login-right
        position relative
    .login-form
        width: 450px
        padding-right: 80px !important
    .login-logo
        width: 576px
        height 617px
        border-radius: 24px 0 0 24px
        background: url('images/register_left_bg.png') 100% 100% no-repeat
        .login-white
            width 140px
            height 140px
    .login-button
        position absolute
        bottom: 50px
        width: 450px;
        height: 44px;
        background: #0665CE;
        border-radius: 6px;
        left 0
    .login-left-desc
        font-size: 14px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 13px;