.login-conent
    width: 1200px;
    height: 617px;
    background-color: #FFFFFF;
    background-image: url('images/login_background1.png')
    background-repeat: no-repeat
    background-position-x: 100%
    background-position-y: 100%
    border-radius: 24px;
    .login-right
        position relative
    .login-form
        width: 450px
    .login-logo
        width: 576px
        height 617px
        border-radius: 24px 0 0 24px
        background: url('images/register_left_bg.png') 100% 100% no-repeat
        .login-white
            width 140px
            height 140px
    .login-button
        width: 450px;
        height: 44px;
        background: #0665CE;
        border-radius: 6px;
    .login-left-desc
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 13px;
.h5_login_box
    padding: ivw(128) ivw(40) 0 ivw(40)
    .h5_login_wraper
        width: ivw(670);
        background: #FFFFFF;
        border-radius: ivw(24)
    .h5_login_conent
        width: ivw(670);
        height: ivw(350);
        border-radius: ivw(24) ivw(24) 0 0;
        background: url('images/h5_login_top_img.png') no-repeat
        background-size: cover
        img 
            width: ivw(127)
            height ivw(127)
            margin-bottom: ivw(23)
    .h5_login_top_title
        font-size: ivw(42);
        font-family: PangMenZhengDao;
        font-weight: bold;
        color: #FFFFFF;
        margin-bottom: ivw(15)
    .h5_login_top_desc
        font-size: ivw(24);
        font-weight: bold;
        color: #FFFFFF;
    .h5_login_button
        width: ivw(590);
        height: ivw(72);
        background: #0666CE;
        border-radius: ivw(10);
        margin-bottom: ivw(100)


