.avatar 
    width: ipx(140);
    height: ipx(140);
    background-size: contain;
    background-repeat: no-repeat;
    margin: ipx(40);

.menu-card 
    padding: ipx(45);
    margin: ipx(30) 0;
    background: white;
    box-shadow:0 ipx(6) ipx(24) 0 rgba(199,212,207,0.2);
    border-radius: ipx(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:active 
        background: rgba(199,212,207,0.2);