body {
  margin: 0;
  font-family: 'Microsoft Yahei','PingFang','微软雅黑','宋体','Tahoma','Arial','Helvetica','STHeiti';
}

code {
  font-family: 'Microsoft Yahei','PingFang','微软雅黑','宋体','Tahoma','Arial','Helvetica','STHeiti';
}
